@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://midsummer-reverie.github.io/font-face/QuickLove.css');
@import url('https://midsummer-reverie.github.io/font-face/baanfonts.css');
@import url('https://midsummer-reverie.github.io/font-face/FCPalette.css');

.ctt-container {
    width: 85%;
    margin: 3vw auto;
}
.ctt-bg {
    width: 100%;
    border: 0.3vw solid var(--strokecl);
    border-radius: 1.2vw;
    background: #b7e2f0;
    box-sizing: border-box;
    margin-top: 2vw;
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
}
.ctt-overlay {
    width: 100%;
    height: 100%;
    mask: url(https://iili.io/CmzipTl.png) center / 15%;
    background: var(--cl1);
    opacity: 0.4;
    grid-area: 1 / 1;
    z-index: 4;
    position: relative;
}
.ctt-content {
    width: 100%;
    grid-area: 1 / 1;
    z-index: 5;
    position: relative;
}
.ctt-header {
    width: 100%;
    box-sizing: border-box;
    padding: 1.65vw 0vw 1vw;
    background: var(--cl2);
    position: relative;
}
.ctt-locname-outer {
    width: fit-content;
    max-width: 65%;
    padding: 1vw;
    border: 0.2vw solid #88cee5;
    border-radius: 1000px;
    background: #ffffff;
    margin: auto;
}
.ctt-locname-inner {
    width: fit-content;
    padding: 1vw 2vw;
    border: 0.12vw dashed #88cee5;
    border-radius: 1000px;
    font: 2vw 'JaoAmericano';
    color: #88cee5;
}
.ctt-png1 {
    width: 16%;
    aspect-ratio: 1 / 1;
    background: var(--png1);
    position: absolute;
    left: 1.65vw;
    top: 1.25vw;
    rotate: -1deg;
}
.ctt-png2 {
    width: 16%;
    aspect-ratio: 1 / 1;
    background: var(--png2);
    position: absolute;
    right: 1.65vw;
    top: 1.25vw;
    rotate: 1.6deg;
}
.ctt-trimgrid {
    width: 100%;
    aspect-ratio: 11.58 / 1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
}
.ctt-trim-stroke {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: var(--strokecl);
    mask: url(https://iili.io/CmxcFaV.png) center / cover;
}
.ctt-trim {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: var(--cl2);
    mask: url(https://iili.io/CmTnENf.png) center / cover;
}
.ctt-details {
    width: 92%;
    margin: auto;
    box-sizing: border-box;
    padding: 1.85vw;
    background: #ffffff;
    border-radius: 1.6vw;
}
.ctt-pic {
    width: 100%;
    aspect-ratio: 2.6 / 1;
    border: 0.25vw solid var(--strokecl);
    border-radius: 1.4vw;
    background: var(--mainpic);
}
.ctt-text {
    width: 92%;
    margin: 1.75vw auto 1.45vw;
    font: 1.1vw 'Mali';
    color: #363636;
    line-height: 1.5;
    text-align: justify;
}
.ctt-subloc {
    width: 100%;
    display: flex;
    gap: 1.25vw;
    justify-content: center;
    margin-top: 3vw;
    flex-wrap: wrap;
}

.ctt-subloc-box {
    width: 32%;
}
.ctt-subloc-pic {
    width: 100%;
    aspect-ratio: 1.45 / 1;
    border: 0.25vw solid var(--cl1);
    border-radius: 1vw;
    box-sizing: border-box;
    background: var(--sublocpic);
}
.ctt-subloc-name {
    width: 80%;
    margin: -1.3vw auto 0vw;
    box-sizing: border-box;
    padding: 0.65vw;
    font: 0.85vw 'JaoAmericano';
    color: #ffffff;
    background: var(--cl1);
    border-radius: 0.8vw;
    text-align: center;
}
.ctt-ftrimgrid {
    width: 100%;
    aspect-ratio: 11.58 / 1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
    rotate: 180deg;
}
.ctt-ftrim-stroke {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: var(--strokecl);
    mask: url(https://iili.io/CmxcFaV.png) center / cover;
}
.ctt-ftrim {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: var(--cl2);
    mask: url(https://iili.io/CmTnENf.png) center / cover;
}
.ctt-footer {
    width: 100%;
    background: var(--cl2);
    box-sizing: border-box;
    padding: 1vw;
}
.ctt-footer-in {
    width: 100%;
    aspect-ratio: 14 / 1;
    background: #ffffff;
    mask: url(https://iili.io/CmAlCjp.png) center / cover;
}