@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Playpen+Sans+Thai:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://dl.dropbox.com/scl/fi/v5siu9ae6xoev05juqcms/ForeverDreaming.css?rlkey=xtf6t9v0rk7zr5bd5s9ez5m7p&st=k0xgwh7a');

:root {
    --msr-icon-ingr: url(https://iili.io/FHcqgtI.png) center / 55% no-repeat;
    --msr-icon-dir: url(https://iili.io/FHcq4nt.png) center / 55% no-repeat;
}
.msr-box {
    width: 80%;
    margin: auto;
    background: var(--msr-cl1);
}
.msr-trim {
    width: 100%;
    aspect-ratio: 25 / 1;
    background: var(--msr-cl2);
    mask: url(https://iili.io/FHYPiKb.png) center / 4% repeat;
}
.msr-header {
    width: 30%;
    margin: auto;
    aspect-ratio: 1 / 1;
    background: var(--msr-cl3);
    mask: url(https://iili.io/FHYPslj.png) center / cover;
}
.msr-display {
    width: 60%;
    margin: 0.3vw auto;
    font: 1vw 'Roboto Mono';
    font-weight: 600;
    color: var(--msr-txtcl);
    text-align: center;
    text-transform: uppercase;
}
.msr-title {
    width: 80%;
    margin: auto;
    font: 2.2vw 'Playpen Sans Thai';
    font-weight: 600;
    text-align: center;
    color: var(--msr-cl2);
    line-height: 1.2;
}
.msr-dotted {
    width: 80%;
    margin: 1.5vw auto;
    border-top: 0.3vw dotted var(--msr-cl3);
}
.msr-talkflex {
    width: 75%;
    margin: 2vw auto;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    box-sizing: border-box;
}
.msr-talkflex-l {
    width: 28%;
}
.msr-pfp {
    width: 100%;
    box-sizing: border-box;
    border: 1vw solid var(--msr-cl3);
    border-radius: 1000px;
    aspect-ratio: 1 / 1;
    background: var(--msr-pfp);
}
.msr-name {
    width: 90%;
    margin: 0.3vw auto;
    font: 2vw 'Forever Dreaming';
    color: var(--msr-cl3);
    text-align: center;
}
.msr-talkflex-r {
    width: 68%;
    padding: 1vw;
    box-sizing: border-box;
    font: 1vw 'Bai jamjuree';
    color: var(--msr-cl1);
    background: var(--msr-cl3);
    border-radius: 1.2vw;
    text-align: justify;
    line-height: 1.4;
}
.msr-contentflex {
    width: 80%;
    margin: 2vw auto;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}
.msr-contentflex-l {
    width: 40%;
    padding: 1.2vw;
    box-sizing: border-box;
    border-radius: 1.2vw;
    background: var(--msr-cl2);
}
.msr-iconcir-ingr {
    width: 3.5vw;
    aspect-ratio: 1 / 1;
    border-radius: 1000px;
    border: 0.15vw solid var(--msr-cl1);
    margin: auto;
}
.msr-icon-ingr {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--msr-cl1);
    mask: var(--msr-icon-ingr);
}
.msr-subhead-ingr {
    width: 100%;
    margin: 0.2vw auto;
    font: 1.5vw 'Forever Dreaming';
    color: var(--msr-cl1);
    text-align: center;
}
.msr-txt-ingr {
    width: 100%;
    margin: 1vw 0vw;
    font: 1vw 'Bai Jamjuree';
    color: var(--msr-cl1);
    box-sizing: border-box;
    line-height: 1.4;
}
.msr-contentflex-r {
    width: 58%;
    padding: 1.2vw;
    box-sizing: border-box;
}
.msr-iconcir-dir {
    width: 3.5vw;
    aspect-ratio: 1 / 1;
    border-radius: 1000px;
    border: 0.15vw solid var(--msr-cl2);
    margin: auto;
}
.msr-icon-dir {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--msr-cl2);
    mask: var(--msr-icon-dir);
}
.msr-subhead-dir {
    width: 100%;
    margin: 0.2vw auto;
    font: 1.5vw 'Forever Dreaming';
    color: var(--msr-cl2);
    text-align: center;
}
.msr-txt-dir {
    width: 100%;
    margin: 1vw 0vw;
    font: 1vw 'Bai Jamjuree';
    color: var(--msr-txtcl);
    text-align: justify;
    box-sizing: border-box;
    line-height: 1.4;
}
.msr-bon {
    width: 25%;
    aspect-ratio: 2.36 / 1;
    margin: 1vw auto;
    background: var(--msr-cl3);
    mask: url(https://iili.io/FHl9Fob.png) center / cover;
}
.msr-pic {
    width: 80%;
    margin: 2vw auto;
    aspect-ratio: 2/1;
    box-sizing: border-box;
    border: 0.4vw solid var(--msr-cl3);
    border-radius: 1.2vw;
    background: var(--msr-foodpic);
}
.lareverie {
    width: 20%;
    aspect-ratio: 9/1;
    margin: auto;
    font: 0.7vw Roboto Mono;
    font-weight: 200;
    color: #969696;
    text-align: center;
}
.lareverie::before {
    width: 20%;
    aspect-ratio: 9/1;
    margin: auto;
    content: "lareverie";
    font: 0.7vw Roboto Mono;
    font-weight: 200;
    color: #969696;
    text-align: center;
}