@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Chonburi&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Barcode+39+Text&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: 'ChulaNarak';
    src: url(https://midsummer-reverie.github.io/font/ChulaNarak%20Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

:root {
    --rfc-icon: url(https://iili.io/F9guzOb.png) center/cover;
}

.rfc-box {
    width: 100%;
    padding: 5vw 2.2vw;
    box-sizing: border-box;
    background: var(--rfc-cl1);
}
.rfc-receipt-top {
    width: 80%;
    margin: auto;
    padding: 1.6vw;
    box-sizing: border-box;
    background: var(--rfc-cl2);
    border-radius: 1.2vw;
}
.rfc-circle {
    width: 8%;
    margin: 0.5vw auto 1.2vw;
    aspect-ratio: 1 / 1;
    padding: 0.8vw;
    box-sizing: border-box;
    border-radius: 1000px;
    background: var(--rfc-cl1);
}
.rfc-icon {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--rfc-cl2);
    mask: var(--rfc-icon);
}
.rfc-city {
    width: 80%;
    margin: 1.4vw auto 0vw;
    font: 1.12vw 'DM Mono';
    font-weight: 500;
    color: var(--rfc-txtcl);
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}
.rfc-title {
    width: 80%;
    margin: 0vw auto 2.2vw;
    font: 3.4vw 'Baskervville', 'Chonburi';
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color: var(--rfc-cl1);
    line-height: 1;
}
.rfc-picflex {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 1vw;
    padding: 1vw;
    background: var(--rfc-cl1);
    box-sizing: border-box;
    justify-content: center;
}
.rfc-pic {
    width: 50%;
    aspect-ratio: 1 / 1;
}
.rfc-pic-s {
    width: 25%;
    aspect-ratio: 1 / 1;
}
.rfc-text {
    width: 80%;
    margin: 1.2vw auto;
    font: 1.5vw 'ChulaNarak';
    color: var(--rfc-txtcl);
    line-height: 1;
    text-align: justify;
}
.rfc-recflex {
    width: 80%;
    margin: 0.5vw auto;
    display: flex;
    justify-content: space-between;
}
.rfc-rectext {
    width: fit-content;
    font: 1vw 'DM Sans', 'Prompt';
    color: var(--rfc-cl1);
    font-weight: 500;
    line-height: 1;
}
.rfc-addpicframe {
    width: 80%;
    margin: auto;
    padding: 1vw;
    box-sizing: border-box;
    background: var(--rfc-cl1);
}
.rfc-addpic {
    width: 100%;
    aspect-ratio: 2 / 1;
}
.rfc-receipt-bottom {
    width: 80%;
    margin: auto;
    padding: 1.6vw;
    box-sizing: border-box;
    background: var(--rfc-cl2);
    border-radius: 1.2vw;
    border-top: 2px dashed var(--rfc-cl1);
}
.rfc-loc {
    width: fit-content;
    font: 1.25vw 'ChulaNarak';
    color: var(--rfc-cl1);
    font-weight: 500;
    font-style: italic;
    margin: auto;
}
.rfc-barcode {
    width: fit-content;
    margin: 1.2vw auto;
    padding: 0.8vw;
    background: #ffffff;
    border-radius: 0.2vw;
    font: 2.2vw 'Libre Barcode 39 Text';
    color: var(--rfc-cl1);
}
.lareverie {
    width: 20%;
    aspect-ratio: 9/1;
    margin: auto;
    font: 0.7vw Roboto Mono;
    font-weight: 200;
    color: #969696;
    text-align: center;
}
.lareverie::before {
    width: 20%;
    aspect-ratio: 9/1;
    margin: auto;
    content: "lareverie";
    font: 0.7vw Roboto Mono;
    font-weight: 200;
    color: #969696;
    text-align: center;

}

