@font-face {
    font-family: 'Moderniz';
    src: url(https://dl.dropbox.com/scl/fi/5otz8e7iw0jz4oh6qj6wv/Moderniz.otf?rlkey=w8v74o1j2xmpw4d2zic04ndy3&st=y4st2n84) format(opentype);
    font-weight: 400;
    font-style: normal;
}
