@import url(https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Zen+Maru+Gothic&display=swap);
:root {
    --trophy: url(https://iili.io/f5OZxGj.png) center / 80% no-repeat;
    --fonts: 'Poppins', 'Zen Maru Gothic', 'Chiron GoRound TC', 'Google Sans';
}
.muaw-box {
    width: 100%;
    box-sizing: border-box;
    padding: 3vw;
    border-radius: 1.2vw;
    background: linear-gradient(25deg, var(--color1) 0%, var(--color2) 100%);
}
.muaw-head {
    width: 65%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: fit-content(85%) 12%;
    column-gap: 1vw;
}
.muaw-name {
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    font: 4.2vw 'Poppins';
    color: var(--textcl);
    font-weight: 600;
    line-height: 1;
}
.muaw-tt {
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
    font: 2.2vw 'Poppins';
    color: var(--textcl);
    font-weight: 600;
    line-height: 1;
}
.muaw-ast {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-area: 1 / 2 / 3 / 3;
    background: var(--textcl);
    mask: url(https://iili.io/f5hZSGp.png) 0% 0% / 60% no-repeat;
}
.muaw-top {
    width: 100%;
    display: flex;
    margin: 2vw 0vw;
    justify-content: space-between;
}
.muaw-player {
    width: 49%;
    aspect-ratio: 1.33 / 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: 1.2vw;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.35);
}
.muaw-img {
    width: 70%;
    height: 100%;
    margin-left: 1.1vw;
    margin-top: 0.24vw;
    grid-area: 1 / 1;
    background: var(--diskimg);
    mask: url(https://iili.io/f7dkcYv.png) center / cover;
    z-index: 1;
    animation: cd-spin 4s linear infinite;
}
.muaw-dov {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: url(https://iili.io/f5htgxj.png) center / cover;
    mix-blend-mode: overlay;
    z-index: 2;
}
.muaw-disk {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: url(https://iili.io/f5htwf2.png) center / cover;
    z-index: 3;
}
.muaw-play {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: url(https://iili.io/f5ht8Ou.png) center / cover;
    z-index: 4;
    border-radius: 1.2vw;
}
@keyframes cd-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.muaw-ta {
    width: 49%;
    aspect-ratio: 1.33 / 1;
}
.muaw-tatt {
    width: 100%;
    font: 2vw 'Poppins';
    color: var(--textcl);
    font-weight: 600;
}
.muaw-talist {
    width: 100%;
    box-sizing: border-box;
    padding: 1.2vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.muaw-tab {
    width: 49%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 1fr;
    column-gap: 1vw;
    align-content: center;
    margin-bottom: 0.8vw;
}
.muaw-tap {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-area: 1 / 1 / 2 / 2;
    background: var(--tapic);
    border-radius: 0.4vw;
}
.muaw-tan {
    width: 100%;
    grid-area: 1 / 2 / 2 / 3;
    font: 1.1vw var(--fonts);
    color: var(--textcl);
    line-height: 0.8;
    font-weight: 500;
    align-self: center;
}
.muaw-gptt {
    width: 100%;
    font: 2.5vw 'poppins';
    color: var(--textcl);
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 1vw;
}
.muaw-gpg {
    width: 100%;
    margin: 1.25vw 0vw;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.2vw;
}
.muaw-rotytt {
    width: 100%;
    grid-area: 1 / 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.muaw-trophy {
    width: 10%;
    aspect-ratio: 1 / 1;
    background: var(--textcl);
    mask: var(--trophy);
}
.muaw-gpn {
    width: 87%;
    font: 1.1vw 'Poppins';
    color: var(--textcl);
    font-weight: 600;
}
.muaw-roty {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 1vw;
    background: var(--rotypic);
    margin-top: 0.8vw;
    position: relative;
}
.muaw-aotytt {
    width: 100%;
    grid-area: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.muaw-aoty {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 1vw;
    background: var(--aotypic);
    margin-top: 0.8vw;
    position: relative;
}
.muaw-sotytt {
    width: 100%;
    grid-area: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.muaw-soty {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 1vw;
    background: var(--sotypic);
    margin-top: 0.8vw;
    position: relative;
}
.muaw-gpd {
    position: absolute;
    border-radius: 1vw;
    inset: 0;
    background: linear-gradient(to top, var(--color1) 0%, rgba(0, 0, 0, 0) 70%);
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1vw;
    box-sizing: border-box;
    transition: opacity 0.35s ease;
}
.muaw-gpar {
    color: var(--textcl);
    font: 1.2vw var(--fonts);
    font-weight: 600;
    margin: 0;
    padding: 0.15vw 0;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.35s ease, transform 0.35s ease;
}
.muaw-gpde {
    color: var(--textcl);
    font: 1vw 'Google Sans';
    font-weight: 400;
    margin: 0; 
    text-align: justify;
}
.muaw-mp {
    width: 100%;
    font: 2.5vw 'poppins';
    color: var(--textcl);
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 1vw;
}
.muaw-prize {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.muaw-pbox {
    width: 24%;
    box-sizing: border-box;
    padding: 1vw;
    background: var(--textcl);
    border-radius: 1.2vw;
    margin-bottom: 1vw;
    transition: 0.3s ease;
}
/* เดิมมีอยู่แล้ว */
.muaw-ptt {
    width: 100%;
    font: 1vw 'Poppins';
    color: var(--color1);
    font-weight: 600;
}
.muaw-ppic {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0.6vw 0vw;
    border-radius: 0.8vw;
    background: var(--ppic);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3) inset;
}
.muaw-pname {
    width: 100%;
    font: 1.4vw var(--fonts);
    color: var(--color1);
    font-weight: 600;
}
/* ย่อความสูงไว้ก่อน + ทำให้เลื่อน/ยืดได้ */
.muaw-pdt {
    width: 100%;
    font: 0.85vw 'Google Sans';
    color: var(--textcl2);
    text-align: justify;
    max-height: 0vw;
    overflow: hidden;
    transition: max-height 0.65s ease;
}
/* เวลา hover การ์ด → ให้ส่วนรายละเอียด “ยืดลงมา” */
.muaw-pbox:hover .muaw-pdt {
    max-height: 20vw;
}
.muaw-aoty:hover .muaw-gpd {
  opacity: 1;
}
.muaw-aoty:hover .muaw-gpar {
  opacity: 1;
  transform: translateY(0);
}
.muaw-roty:hover .muaw-gpd {
  opacity: 1;
}
.muaw-roty:hover .muaw-gpar {
  opacity: 1;
  transform: translateY(0);
}
.muaw-soty:hover .muaw-gpd {
  opacity: 1;
}
.muaw-soty:hover .muaw-gpar {
  opacity: 1;
  transform: translateY(0);
}
.lareverie {
    width: 20%;
    aspect-ratio: 9/1;
    margin: auto;
    font: 0.7vw Roboto Mono;
    font-weight: 200;
    color: #969696;
    text-align: center;
}
.lareverie::before {
    width: 20%;
    aspect-ratio: 9/1;
    margin: auto;
    content: "lareverie";
    font: 0.7vw Roboto Mono;
    font-weight: 200;
    color: #969696;
    text-align: center;
}




