@import url(https://midsummer-reverie.github.io/font-face/new-icon-serif-condensed.css);
@import url(https://midsummer-reverie.github.io/font-face/new-icon-serif.css);
@import url(https://midsummer-reverie.github.io/font-face/THChara.css);
@import url(https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap);

.dtp-container {
    width: 100%;
    background: var(--dtp-c-main);
}

.dtp-border-top {
    width: 100%;
    height: 2vw;
    background-image: repeating-conic-gradient(var(--dtp-c-main) 0% 25%, var(--dtp-c-accent) 0% 50%);
    background-size: 2.05vw 2.05vw;
}

.dtp-text-small {
    width: fit-content;
    margin: 5vw auto 0vw;
    font: 1.65vw 'DM Mono';
    color: var(--dtp-c-accent);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
}

.dtp-text-large {
    width: fit-content;
    margin: 0.25vw auto 0vw;
    font: 5vw 'New Icon Serif';
    color: var(--dtp-c-accent);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.35vw;
}

.dtp-main-mask {
    width: 25%;
    margin: 3vw auto 0vw;
    aspect-ratio: 1 / 1;
    background: var(--dtp-c-accent);
    mask: url(https://iili.io/Co3RdV2.md.png) center / cover;
    -webkit-mask: url(https://iili.io/Co3RdV2.md.png) center / cover;
}

.dtp-content-box {
    width: 100%;
    box-sizing: border-box;
    margin-top: 3.2vw;
    border: 0.15vw solid var(--dtp-c-accent);
    display: flex;
}

.dtp-content-img {
    width: 35%;
    aspect-ratio: 1 / 1.3;
    border-right: 0.15vw solid var(--dtp-c-accent);
    background: var(--dtp-bg-image) 65% 50% / 160%;
}

.dtp-content-text {
    width: 65%;
    box-sizing: border-box;
    padding: 2vw;
}

.dtp-heading {
    width: fit-content;
    margin: 0.25vw auto 0vw;
    font: 1.75vw 'New Icon Condensed';
    color: var(--dtp-c-accent);
    font-weight: 300;
    text-transform: uppercase;
}

.dtp-heading-mt {
    width: fit-content;
    margin: 2vw auto 0vw;
    font: 1.75vw 'New Icon Condensed';
    color: var(--dtp-c-accent);
    font-weight: 300;
    text-transform: uppercase;
}

.dtp-hr {
    width: 65%;
    margin: 0.5vw auto 1.25vw;
    background: var(--dtp-c-accent);
    height: 0.05vw;
    border: none;
}

.dtp-paragraph {
    width: 100%;
    font: 1.3vw 'TH Chara';
    color: var(--dtp-c-accent);
    text-align: justify;
}

.dtp-links-row {
    width: 100%;
    box-sizing: border-box;
    margin-top: -0.15vw;
    border: 0.15vw solid var(--dtp-c-accent);
    display: flex;
    justify-content: space-between;
}

.dtp-link-col {
    width: 33%;
}

.dtp-link-col a {
    text-decoration: none;
}

.dtp-link-icon {
    width: 30%;
    aspect-ratio: 1 / 1;
    margin: auto;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    transition: all 0.3s ease; /* เพิ่มความสมูท */
}

.dtp-link-text {
    width: 100%;
    font: 1.1vw 'DM Mono';
    color: var(--dtp-c-accent);
    text-align: center;
    margin-bottom: 1.5vw;
    font-weight: 300;
    transition: color 0.3s ease; /* เพิ่มความสมูท */
}

.dtp-link-col a:hover .dtp-link-icon {
    transform: translateY(-0.5vw) scale(1.05); /* ไอคอนเด้งขึ้นและขยายขึ้นนิดนึง */
}

.dtp-link-col a:hover .dtp-link-text {
    color: var(--dtp-c-secondary); /* เปลี่ยนสีตัวอักษร */
}

.dtp-menu-header {
    width: 50%;
    display: flex;
    padding-left: 2vw;
    margin: 3vw 0vw 0vw;
}

.dtp-menu-icon {
    width: 15%;
    aspect-ratio: 1 / 1;
}

.dtp-menu-title {
    width: fit-content;
    margin: auto 0.5vw;
    font: 2.25vw 'New Icon Serif';
    color: var(--dtp-c-accent);
    font-weight: 300;
    text-transform: uppercase;
}

.dtp-menu-grid {
    width: 85%;
    margin: 1.5vw auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.dtp-menu-item {
    width: 30%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 20%;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.dtp-menu-item:hover {
    transform: translateX(0.5vw); /* ขยับกล่องไปทางขวานิดนึง */
}

.dtp-menu-item-sub {
    width: 100%;
    grid-area: 1 / 1;
    font: 1vw 'DM Mono';
    color: var(--dtp-c-secondary);
    font-weight: 300;
}

.dtp-menu-item-title {
    width: 100%;
    grid-area: 2 / 1;
    font: 1.55vw 'New Icon Serif';
    color: var(--dtp-c-accent);
    font-weight: 300;
    margin-top: 0.3vw;
}

#signature {
    --dtp-menu: url(https://iili.io/Co3RKl9.png) center / cover;
}
#roleplay {
    --dtp-menu: url(https://iili.io/Co3RBHu.md.png) center / cover;
}
#profile {
    --dtp-menu: url(https://iili.io/Co3RfSe.md.png) center / cover;
}
#misc {
    --dtp-menu: url(https://iili.io/Co3RJol.md.png) center / cover;
}

.dtp-menu-item-mask {
    width: 50%;
    grid-area: 1 / 2 / 3 / 3;
    aspect-ratio: 1 / 2;
    background: var(--dtp-c-secondary);
    mask: var(--dtp-menu);
    -webkit-mask: var(--dtp-menu);
    margin: auto;
}

.dtp-border-bottom {
    width: 100%;
    height: 2vw;
    background-image: repeating-conic-gradient(var(--dtp-c-main) 0% 25%, var(--dtp-c-accent) 0% 50%);
    background-size: 2vw 2vw;
    margin-top: 3.5vw;
}
