@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://midsummer-reverie.github.io/font-face/Breathing.css');

.s02rp-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: auto auto 8vw auto 0.3vw auto;
}
.s02rp-back {
    width: 80%;
    height: 96%;
    grid-area: 1 / 2 / 7 / 4;
    box-sizing: border-box;
    border: 0.35vw solid var(--s02rp-cl2);
    justify-self: right;
    margin: auto 0vw;
    background: var(--s02rp-bg);
    rotate: 1deg;
    z-index: 0;
}
.s02rp-paper {
    width: 96%;
    margin: 0vw auto;
    grid-area: 1 / 1 / 6 / 3;
    background: url(https://iili.io/KmMChRR.jpg) center / 35% repeat;
    z-index: 1;
}
.s02rp-s02 {
    width: 10%;
    aspect-ratio: 0.774 / 1;
    background: var(--s02rp-cl1);
    mask: url(https://iili.io/KmjJtyl.png) center / 85% no-repeat;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0.6vw 0vw 0.6vw 1.6vw;
    z-index: 2;
    align-self: center;
}
.s02rp-sp {
    width: 15%;
    aspect-ratio: 1 / 1;
    background: var(--s02rp-cl1);
    mask: var(--s02rp-icon);
    grid-area: 1 / 2 / 2 / 3;
    margin: 0.6vw 1.8vw 0.6vw 0vw;
    z-index: 2;
    justify-self: right;
    align-self: center;
}
.s02rp-banner {
    width: 100%;
    box-sizing: border-box;
    border: 0.4vw solid var(--s02rp-cl3);
    grid-area: 2 / 1 / 3 / 3;
    aspect-ratio: 3.6 / 1;
    background: var(--s02rp-bn);
    z-index: 3;
}
.s02rp-stamp {
    width: 65%;
    aspect-ratio: 0.888 / 1;
    align-self: end;
    justify-self: center;
    background: var(--s02rp-cl1);
    mask: url(https://iili.io/Kmhzm3N.png) center / cover;
    grid-area: 2 / 2 / 4 / 3;
    z-index: 4;
    box-sizing: border-box;
    padding: 1vw;
}
.s02rp-img {
    width: 100%;
    height: 100%;
    background: var(--s02rp-img);
}
.s02rp-title {
    width: 80%;
    align-self: center;
    justify-self: center;
    z-index: 4;
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 1.2vw;
}
.s02rp-random {
    width: 100%;
    font: 0.8vw 'Rubik';
    color: var(--s02rp-cl2);
    text-align: center;
}
.s02rp-dpn {
    width: 95%;
    font: 1.6vw 'Breathing';
    color: var(--s02rp-cl1);
    text-align: center;
    margin: auto;
    line-height: 1.2;
    margin-top: 1vw;
}
.s02rp-text {
    width: 80%;
    margin: 2vw auto 0.5vw;
    z-index: 5;
    grid-area: 4 / 1 / 5 / 3;
}
.s02rp-rp {
    width: 100%;
    font: 1vw 'Bai Jamjuree';
    color: var(--s02rp-txt);
    font-weight: 400;
    text-align: justify;
    line-height: 1.6;
}
.s02rp-note {
    width: 100%;
    font: 1vw 'Bai Jamjuree';
    color: var(--s02rp-cl1);
    font-weight: 400;
    text-align: justify;
    line-height: 1.6;
    margin-top: 1.25vw;
}
.s02rp-footer {
    width: 96%;
    aspect-ratio: 5.18 / 1;
    background: url(https://iili.io/KmMChRR.jpg) center / 35% repeat;
    mask: url(https://iili.io/KmOoPRI.png) center / cover;
    grid-area: 5 / 1 / 7 / 3;
    margin: auto;
    align-self: end;
}
.s02rp-corner {
    width: 58%;
    aspect-ratio: 1.1575 / 1;
    align-self: end;
    justify-self: right;
    background: url(https://iili.io/KmwwNJp.png) center / cover;
    grid-area: 5 / 2 / 7 / 3;
    z-index: 6;
    margin-right: 0.8vw;
    margin-bottom: 0.25vw;
}
.s02rp-palette {
    width: 25%;
    grid-area: 5 / 1 / 7 / 2;
    z-index: 5;
    display: flex;
    gap: 0.5vw;
    align-self: end;
    margin: 0vw 0vw 1vw 2.2vw;
}
.s02rp-cl1 {
    width: 32%;
    aspect-ratio: 1 / 1;
    background: var(--s02rp-cl1);
}
.s02rp-cl2 {
    width: 32%;
    aspect-ratio: 1 / 1;
    background: var(--s02rp-cl2);
}
.s02rp-cl3 {
    width: 32%;
    aspect-ratio: 1 / 1;
    background: var(--s02rp-cl3);

}
