@import url(https://midsummer-reverie.github.io/font-face/Fenattoda.css);
@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);

.cm1-box {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    background: var(--2color);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}
.cm1-overlay {
    width: 100%;
    height: 100%;
    background: url(https://iili.io/fMtsLzJ.jpg) center / 80% repeat;
    mix-blend-mode: multiply;
    opacity: 0.6;
    grid-area: 1 / 1;
    z-index: 2;
}
.cm1-content {
    width: 100%;
    grid-area: 1 / 1;
    z-index: 3;
    box-sizing: border-box;
    padding: 1vw;
}
.cm1-header {
    width: 100%;
    aspect-ratio: 3.9185 / 1;
    background: var(--3text);
    mask: url(https://iili.io/fjdniQe.png) center / cover;
}
.cm1-logo {
    width: 30%;
    aspect-ratio: 0.8286 / 1;
    margin: -10vw auto 0vw;
    background: var(--3text);
    mask: url(https://iili.io/fjJnate.png) center / cover;
}
.cm1-name {
    width: fit-content;
    max-width: 70%;
    margin: 1vw auto;
    font: 3vw 'Fenattoda';
    color: var(--3text);
}
.cm1-bow {
    width: 10%;
    margin: 1vw auto;
    aspect-ratio: 1.526 / 1;
    background: var(--3text);
    mask: url(https://iili.io/fj2R1yb.png) center / 70% no-repeat;
}
.cm1-text {
    width: 75%;
    margin: 2vw auto;
    font: 1.1vw 'Bai Jamjuree';
    color: var(--3text);
    font-weight: 400;
    line-height: 1.45;
    text-align: justify;
}
.cm1-footer {
    width: 100%;
    aspect-ratio: 3.9675 / 1;
    background: var(--3text);
    mask: url(https://iili.io/fjdnQEb.png) center / cover;
    margin-top: -8vw;
}
