@import url(https://midsummer-reverie.github.io/font-face/aranta.css);
@import url(https://midsummer-reverie.github.io/font-face/Citadel-Script.css);
@import url(https://midsummer-reverie.github.io/font-face/TheSeasons.css);
@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Kaisei+Decol:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,50/0;1,600;1,700;1,800;1,900&display=swap);

.ssr-npc1-container {
    width: 85%;
    margin: 1.65vw auto;
    display: grid;
    grid-template-rows: 2.8vw 3.5vw 10vw auto auto 2.2vw;
    grid-template-columns: 2.6vw 1fr 4vw;
}
.ssr-npc1-bg {
    width: 45%;
    height: 100%;
    grid-area: 2 / 2 / 4 / 4;
    z-index: 5;
    border: 0.1vw solid #ffffff;
    border-radius: 0.85vw;
    background: var(--npcbg);
    justify-self: end;
}
.ssr-npc1-char {
    width: 45%;
    height: 99.8%;
    grid-area: 1 / 2 / 4 / 4;
    z-index: 6;
    background: var(--npcpng);
    margin: 0.1vw;
    border-radius: 0.85vw;
    box-sizing: border-box;
    justify-self: end;
}
.ssr-npc1-deflex {
    width: 55%;
    display: flex;
    gap: 0.8vw;
    justify-content: flex-start;
    grid-area: 2 / 2 / 3 / 3;
    z-index: 3;
    align-self: end;
    justify-self: start;
    margin-left: 3.2vw;
}
.ssr-npc1-class {
    width: fit-content;
    box-sizing: border-box;
    padding: 0.7vw 1vw;
    border-width: 0.1vw 0.1vw 0vw 0.1vw;
    border-style: solid;
    border-color: #fff;
    font: 1vw 'Poppins';
    color: var(--npcdetext);
    font-weight: 500;
    text-align: center;
    line-height: 1;
    border-radius: 0.65vw 0.65vw 0vw 0vw;
    background: var(--npcgrad);
}
.ssr-npc1-location {
    width: fit-content;
    max-width: 70%;
    box-sizing: border-box;
    padding: 0.7vw 1vw;
    border-width: 0.1vw 0.1vw 0vw 0.1vw;
    border-style: solid;
    border-color: #fff;
    font: 1vw 'Poppins', 'Google Sans';
    color: var(--npcdetext);
    font-weight: 500;
    text-align: center;
    line-height: 1;
    border-radius: 0.65vw 0.65vw 0vw 0vw;
    background: var(--npcgrad);
}
.ssr-npc1-boxbg {
    width: 100%;
    box-sizing: border-box;
    grid-area: 3 / 2 / 5 / 3;
    z-index: 3;
    border-width: 0.1vw 0.1vw 0vw 0.1vw;
    border-style: solid;
    border-color:  #fff;
    border-radius: 1vw 1vw 0vw 0vw;
    background: var(--npcboxbg);
    display: grid;
    overflow: hidden;
}
.ssr-npc1-gradbg {
    width: 100%;
    grid-area: 1 / 1;
    aspect-ratio: 2.09 / 1;
    align-self: end;
    background: var(--npcgradbg);
    mask: url(https://iili.io/nFkEimB.png) center / cover;
    -webkit-mask: url(https://iili.io/nFkEimB.png) center / cover;
    opacity: 0.6;
}
.ssr-npc1-namebox {
    width: 50%;
    grid-area: 3 / 2 / 4 / 3;
    z-index: 4;
    justify-self: start;
    color: var(--npcnamecl);
    text-shadow: 0px 0px 4px var(--npcnamesh);
    margin-top: 2vw;
    margin-left: 3.5vw;
}
.ssr-npc1-lastname {
    width: fit-content;
    max-width: 55%;
    font: 1.3vw 'The Seasons';
    letter-spacing: 0.12vw;
    text-transform: uppercase;
}
.ssr-npc1-firstname {
    width: fit-content;
    max-width: 75%;
    margin: -1.2vw 3.6vw 0vw 3.5vw;
    font: 2.4vw 'The Seasons';
    text-transform: uppercase;
    letter-spacing: 0.15vw;
}
.ssr-npc1-firstname::first-letter {
    font: 5.5vw 'Citadel';
}
.ssr-npc1-roleplay {
    width: 100%;
    box-sizing: border-box;
    grid-area: 4 / 2 / 5 / 3;
    z-index: 4;
    padding: 2.45vw;
    font: 1.1vw 'Google Sans';
    color: var(--npctxtcl);
    text-align: justify;
    line-height: 1.4;
}
.ssr-npc1-note {
    width: 100%;
    box-sizing: border-box;
    grid-area: 5 / 2 / 6 / 3;
    z-index: 3;
    border-width: 0vw 0.1vw 0.1vw 0.1vw;
    border-style: solid;
    border-color: #fff;
    border-radius: 0vw 0vw 1vw 1vw;
    background: var(--npcgrad);
    display: grid;
    overflow: hidden;
    padding: 1vw 2vw;
    font: 1.1vw 'Google Sans';
    color: var(--npcdetext);
    font-weight: 500;
    text-align: right;
}
.ssr-npc1-heartframe {
    width: 12%;
    box-sizing: border-box;
    grid-area: 4 / 1 / 7 / 3;
    z-index: 6;
    aspect-ratio: 1 / 1;
    border-radius: 1000px;
    border: 0.2vw solid var(--npcaccent);
    justify-self: start;
    align-self: end;
    background: #fff;
    margin-bottom: 1.25vw;
    margin-left: 0.5vw;
    padding: 0.8vw;
    display: grid;
    position: relative; 
    overflow: hidden;
}
.ssr-npc1-hbg {
    width: 110%;
    height: 110%;
    position: absolute;
    background: var(--npcgradbg);
    mask: url(https://iili.io/nFkEimB.png) center / cover;
}
.ssr-npc1-hde {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: var(--npctxtcl);
    mask: url(https://iili.io/nFUaCp2.png) center / cover;
    -webkit-mask: url(https://iili.io/nFUaCp2.png) center / cover;
}
.ssr-npc1-heart {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    background: var(--npcdropheart);
    z-index: 6;
    margin-top: 0.19vw;
}
.ssr-npc1-deco1 {
    width: 70%;
    aspect-ratio: 0.21 / 1;
    grid-area: 4 / 3 / 5 / 4;
    z-index: 4;
    margin-top: -0.2vw;
    background: var(--npcaccent);
    mask: url(https://iili.io/nFkE65Q.png) center / cover;
    -webkit-mask: url(https://iili.io/nFkE65Q.png) center / cover;
    justify-self: center;
}
.ssr-npc1-deco2 {
    width: 75%;
    margin: -1vw auto;
    aspect-ratio: 3.09 / 1;
    grid-area: 1 / 2 / 4 / 3;
    z-index: 2;
    background: var(--npcaccent);
    mask: url(https://iili.io/nFkEPeV.md.png) 50% 30% / 85% no-repeat;
    -webkit-mask: url(https://iili.io/nFkEPeV.md.png) 50% 30% / 85% no-repeat;
    align-self: start;
}
.ssr-npc1-decoflex {
    width: 70%;
    display: flex;
    gap: 0.8vw;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: center;
    margin-top: -1vw;
    flex-direction: column;
    align-items: center;
}
.ssr-npc1-decosp {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--npcgradbg);
    mask: url(https://iili.io/nFkE4dx.md.png) center / cover;
    -webkit-mask: url(https://iili.io/nFkE4dx.md.png) center / cover;
}
.ssr-npc1-ssr {
    width: fit-content;
    font: 1.15vw 'Kaisei Decol';
    writing-mode: vertical-rl;
    font-weight: 500;
    color: #fff;
}
.ssr-npc1-ssr::before {
    content: 'シュガシュガルーン';
}

#yellowheart { --npcdropheart: url(https://iili.io/nFk1woF.md.png) center/95% no-repeat; }
#orangeheart { --npcdropheart: url(https://iili.io/nFk1daR.md.png) center/95% no-repeat; }
#greenheart { --npcdropheart: url(https://iili.io/nFk1Zlf.md.png) center/95% no-repeat; }
#blueheart { --npcdropheart: url(https://iili.io/nFk1vcv.md.png) center/95% no-repeat; }
#purpleheart { --npcdropheart: url(https://iili.io/nFkEnDP.md.png) center/95% no-repeat; }
#pinkheart { --npcdropheart: url(https://iili.io/nFk1yD7.md.png) center/95% no-repeat; }
#redheart { --npcdropheart: url(https://iili.io/nFk1kKJ.md.png) center/95% no-repeat; }
#whiteheart { --npcdropheart: url(https://iili.io/nFkEFlj.md.png) center/95% no-repeat; }
#blackheart { --npcdropheart: url(https://iili.io/nFkEA0J.md.png) center/95% no-repeat; }
#rainbowheart { --npcdropheart: url(https://iili.io/nFk11Fj.md.png) center/95% no-repeat; }
#noheartdrop {}
